<div class="container" style="width: 750px;">
    <div class="row">
  		<div class="col-lg-12">
        <div class="page-header">
    		  <h1 style="color:#ffffff;">Infra Arcana</h1>
          <h2 style="color:#ffffff;">Monster Rolodex</h2>
  		  </div>
      </div>
		</div>
    <div class="row">
      <div class="col-lg-8">
          <table  width="700">
            <tr>
              <th>
                <div class="panel panel-info" style="background-color:#000000;">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <form  action="/" method="get" name="form1" name="submitform" id="submitform">
                        <select id="option_monster" name="option_monster" class="form-control">
                          <% for(let i = 0; i < data.length; i++) { %>
                            <option id="<%= data[i].id %>"><%= data[i].id %></option>
                          <% } %>
                        </select>
                        <button type="submit" style="display:none;" class="btn btn-default" >Submit</button>
                        <input type="hidden" name="_method" value="GET" />
                    </form>
                    </h3>
                  </div>
                  <div class="panel-body" style="background-color:#000000;">
                    <div style="text-align:center; background-color:#000000;" ><img src="/tiles/24x24/<%= data[selected].graphics.tile %>.png" alt="<%= data[selected].graphics.tile %>" rheight="240" width="240"></div>
                      <ul class="nav nav-tabs" >
                      <% for(var key in data[selected]) { %>

                        <% if((typeof(key) == 'string') && (typeof(data[selected][key]) == 'object')) { %>
                          <li role="presentation" id="li_<%= key %>">
                            <a href="#" id="href_<%= key %>">
                              <%= key %>
                            </a>
                          </li>
                        <% } %>
                      <% } %>
                    </ul>
                    <% for(var key in data[selected]) { %>

                      <% if(key != selected_stat && key != "id") { %>
                        <div id="<%= key %>" style="display: none;">
                      <% } else if(key != "id"){%>
                        <div id="<%= key %>" style="display: block;">
                      <% } %>
                      <table style="color:#ffffff;">

                      <% if(key != "id") { %>
                        <% if(key == "properties") { %>
                          <% if("property" in data[selected][key]) { %>
                            <% for(var k1 in data[selected][key]) { %>
                              <!-- <tr><td ><p><%= k1 %></p></td></tr> -->
                            <% } %>
                          <% } %>
                        <% } %>
                        <% if((typeof(key) == 'string') && (typeof(data[selected][key]) == 'object')) { %>
                          <% for(var k in data[selected][key]) { %>
<!--                               <p><%= key %> <%= k %></p> -->
                            <% if(key == "spawning") { %>
                              <% if(k == "group_size") { %>
                              <tr><td > <p><%= k %></p></tr>
                                  <% for(var k1 in data[selected][key][k]) { %>
                                    <% for(var k2 in data[selected][key][k][k1]) { %>
                                      <% if(k2 == '$t') { %>
                                        <tr><td style="text-align:right;"> <p>Size : <%= data[selected][key][k][k1][k2] %></p></tr>
                                      <% } else { %>
                                        <tr><td style="text-align:right;"> <p><%= k2 %> : <%= data[selected][key][k][k1][k2] %></p></tr>
                                      <% } %>
                                    <% } %>
                                  <% } %>
                              <% } else if(k == "native_room") { %>
                                <% var split = String(data[selected][key][k]).split(",") %>
                                <tr><td> <p><%= k %></p></td></tr>
                                <% for(let i = 0; i<split.length; i++) { %>
                                  <tr><td style="text-align:right;"> <p><%= split[i] %></p></td></tr>
                                <% } %>

                              <% } else { %>
                                <tr><td> <p><%= k %> : <%= data[selected][key][k] %></p></td></tr>
                              <% } %>

                            <% } else if(key == "attacks") { %>
                              <% try { %>
                                <tr><td>
                                  <p><%= k %> : </p></td>
                                  <% if(typeof(data[selected][key][k]) != 'object') { %>
                                    <td> <p><%= data[selected][key][k] %></p>
                                  <% } else { %>
                                    <% if(data[selected][key][k].length > 0 ) { %>

                                      <% for(var k1 in data[selected][key][k]) { %>
                                        <% for(var k2 in data[selected][key][k][k1]) { %>
                                          <tr><td> <p><%= k2 %> : <%= data[selected][key][k][k1][k2] %></p></tr>
                                        <% } %>
                                      <% } %>
                                    <% } else { %>
                                      <td> <p></p>
                                    <% } %>
                                  <% } %>


                                </td></tr>
                              <% } catch (e) { %>
                                <% console.log(e);%>
                              <% } finally { %>
                              <% } %>
                            <% } else {%>
                              <% try { %>
                                <tr><td>
                                  <p><%= k %> : </p></td>
                                  <% if(typeof(data[selected][key][k]) != 'object') { %>
                                    <td> <p><%= data[selected][key][k] %></p>
                                  <% } else { %>
                                    <% if(data[selected][key][k].length > 0 ) { %>

                                      <% for(var k1 in data[selected][key][k]) { %>
                                        <tr><td> <p><%= data[selected][key][k][k1] %></p></tr>
                                      <% } %>
                                    <% } else { %>
                                      <td> <p></p>
                                    <% } %>
                                  <% } %>


                                </td></tr>
                              <% } catch (e) { %>
                                <% console.log(e);%>
                              <% } finally { %>
                              <% } %>
                            <% } %>
                          <% } %>
                        <% } else if((typeof(key) == 'string') && (typeof(data[selected][key]) == 'string')) { %>
                          <p><%= key %> <%= data[selected][key] %> </p>
                        <% } else { %>
                          <% if((typeof(key) == 'object') && (typeof(data[selected][key]) == 'object')) { %>
                            <p><%= k %> <%= data[selected][key][k] %> </p>
                          <% } %>
                        <% } %>
                      <% } %>
                       <!-- </tr> -->

                      </table>
                      </div>
                    <% } %>

                  </div>
                </div>
            </tr>
          </table>

      </div>
    </div>
</div>
