<div class="container" style="width: 950px;">
    <div class="row">
  		<div class="col-lg-12">
        <div class="page-header">
    		  <h1 style="color:#ffffff;">Infra Arcana</h1>
          <p style="color:#ffffff;">Monster Rolodex</p>
  		  </div>
      </div>
		</div>
    <div class="row">
      <div class="col-lg-8">
          <table  width="950px">
            <tr>
              <th>
                <div class="panel panel-info" style="background-color:#000000;">

                  <div class="panel-heading">
                    <p class="panel-title">
                      <form  action="/" method="post" name="form1" name="submitform" id="submitform">
                        <select id="option_monster" name="option_monster" class="form-control">
                          <!-- add monsters to dropdown list -->
                          <% for(let i = 0; i < data.length; i++) { %>
                            <option id="<%= data[i].id %>"><%= data[i].id %></option>
                          <% } %>
                        </select>
                        <!-- setup hidden selection variables and set the initial selected -->
                        <button type="submit" style="display:none;" class="btn btn-default" >Submit</button>
                        <input type='hidden' name='hidden_selected' id='hidden_selected' value="<%= selected_monster %>">
                        <input type='hidden' name='hidden_tab' id='hidden_tab' value="<%= selected_stat %>">
                        <input type="hidden" name="_method" value="POST" />
                    </form>
                    </p>
                  </div>

                  <!-- create a panel body to hold all tab contents -->
                  <div class="panel-body" style="background-color:#000000;">

                    <!-- load the monster icon -->
                   <div style="text-align:center; background-color:#000000;">
                     <img src="/tiles/24x24/<%= data[selected].graphics.tile %>.png" alt="<%= data[selected].graphics.tile %>" height="120" width="120" >
                   </div>

                   <!-- for each tab, read xml contents and conver to table -->
                   <ul class="nav nav-tabs" >
                     <!-- data is array of monsters
                     selected is passed in from hidden inputs and dropdown coordination -->

                     <!-- build the "tab headers" first -->
                     <% for(var key in data[selected]) { %>
                       <% if((typeof(key) == 'string') && (typeof(data[selected][key]) == 'object')) { %>
                         <li role="presentation" id="li_<%= key %>">
                           <a href="#" id="href_<%= key %>">
                             <%= key %>
                           </a>
                         </li>
                       <% } %>
                     <% } %>
                    </ul>

                  <!-- now setup the contents of each tab -->
                  <% for(var key in data[selected]) { %>
                    <% delete data[selected].id %>

                    <!-- use conditional formatting of bootstrap -->
                    <% if(key != selected_stat) { %>

                      <div class="table-responsive" id="<%= key %>" style="display: none;">

                    <% } else { %>

                      <div class="table-responsive" id="<%= key %>" style="display: block;padding-top:10px;padding-left:20px;padding-right:20px;">

                    <% } %>

                    <table class="table table-dark" style="color:#ffffff;">
                        <!-- use if/else to setup object handling -->
                        <!-- if the key is a string and the data at that location is an object -->
                        <% if((typeof(key) == 'string') && (typeof(data[selected][key]) == 'object')) { %>

                          <!-- loop the object at the monster.tab.rowheader location -->
                          <% for(var k in data[selected][key]) { %>
                            <!-- if the location is a string, print that using boolean visual helper -->
                            <% if(typeof(data[selected][key][k]) == 'string') { %>
                              <%if(data[selected][key][k] == 'true' || data[selected][key][k] == true) { %>
                                <tr><td> <p> <%= k %> </p></td><td><p style="color:green"><%= data[selected][key][k] %></p></td></tr>
                              <%} else if(data[selected][key][k] == 'false' || data[selected][key][k] == false || data[selected][key][k] == '-1') { %>
                                <tr><td> <p> <%= k %> </p></td><td><p style="color:red"><%= data[selected][key][k] %></p></td></tr>
                              <%} else { %>
                                <tr><td> <p> <%= k %> </p></td><td><p"><%= data[selected][key][k] %></p></td></tr>
                              <%} %>
                          <!-- otherwise try to do object expandion -->
                            <% } else { %>

                            <% if(typeof(data[selected][key][k]) == 'object' && data[selected][key][k].length > 0) { %>
                              <% for(let i=0;i<data[selected][key][k].length;i++) {%>
                                <%if(typeof(data[selected][key][k][i])=='object') { %>
                                  <% for(var k1 in data[selected][key][k][i]) { %>
                                    <%if(key == 'spells') { %>
                                     <%if(k1 == "$t") { %>
                                      <tr><td> <p>spell</p></td>
                                        <%if(data[selected][key][k][i][k1] == 'true' || data[selected][key][k][i][k1] === true) { %>
                                          <td><p style="color:green;"><%= data[selected][key][k][i][k1] %></p></td></tr>
                                        <% } else if(data[selected][key][k][i][k1] == 'false' || data[selected][key][k][i][k1] == false || data[selected][key][k][i][k1] == '-1') { %>%>
                                          <td><p style="color:red;"><%= data[selected][key][k][i][k1] %></p></td></tr>
                                        <%} else { %>
                                          <td><p><%= data[selected][key][k][i][k1] %></p></td></tr>
                                        <%} %>

                                     <%} else { %>
                                      <tr><td> <p><%= k1 %></p></td>
                                        <%if(data[selected][key][k][i][k1] == 'true' ||  data[selected][key][k][i][k1] === true) { %>
                                          <td><p style="color:green;"><%= data[selected][key][k][i][k1] %></p></td></tr>
                                        <%} else if(data[selected][key][k][i][k1] == 'false' ||  data[selected][key][k][i][k1] == false || data[selected][key][k][i][k1] == '-1') { %>
                                          <td><p style="color:red;"><%= data[selected][key][k][i][k1] %></p></td></tr>
                                        <%} else { %>
                                          <td><p><%= data[selected][key][k][i][k1] %></p></td></tr>
                                        <%} %>

                                     <%} %>
                                    <% } else { %>
                                     <%if(k1 == '$t' && key == 'spawning') { %>
                                      <tr><td> <p>group_size </p></td>
                                        <%if(data[selected][key][k][i][k1] == 'true' || data[selected][key][k][i][k1] === true) { %>
                                          <td><p style="color:green;"><%= data[selected][key][k][i][k1] %></p></td></tr>
                                        <%} else if(data[selected][key][k][i][k1] == 'false' || data[selected][key][k][i][k1] == false || data[selected][key][k][i][k1] == '-1') { %>
                                          <td><p style="color:red;"><%= data[selected][key][k][i][k1] %></p></td></tr>
                                        <%} else { %>
                                          <td><p><%= data[selected][key][k][i][k1] %></p></td></tr>
                                        <%} %>

                                     <%} else { %>
                                      <tr><td> <p><%= k1 %></p></td>
                                        <%if(data[selected][key][k][i][k1] == 'true' || data[selected][key][k][i][k1] === true) { %>
                                          <td><p style="color:green;"><%= data[selected][key][k][i][k1] %></p></td></tr>
                                        <%} else if(data[selected][key][k][i][k1] == 'false' || data[selected][key][k][i][k1] == false || data[selected][key][k][i][k1] == '-1') { %>
                                          <td><p style="color:red;"><%= data[selected][key][k][i][k1] %></p></td></tr>
                                        <%} else { %>
                                          <td><p><%= data[selected][key][k][i][k1] %></p></td></tr>
                                        <%} %>

                                     <% } %>
                                    <%} %>
                                  <% } %>
                                 <%} else { %>
                                  <!-- Spwaning & native rooms, properties,  -->
                                  <tr><td> <p><%= k %></p></td>
                                    <%if(data[selected][key][k][i] == 'true' || data[selected][key][k][i] === true) { %>
                                      <td><p style="color:green;"><%= data[selected][key][k][i] %></p></td></tr>
                                    <%} else if(data[selected][key][k][i] == 'false' || data[selected][key][k][i] == false || data[selected][key][k][i] == '-1') { %>
                                      <td><p style="color:red;"><%= data[selected][key][k][i] %></p></td></tr>
                                    <%} else { %>
                                      <td><p><%= data[selected][key][k][i] %></p></td></tr>
                                    <%} %>

                                 <%} %>
                               <% } %>
                             <% } else if(typeof(data[selected][key][k]) !== 'object') { %>
                              <tr><td> <p>Missing statement 1 ?</p></td></tr>
                             <% } else { %>
                              <% if(!data[selected][key][k].length) { %>
                               <% for(var k1 in data[selected][key][k]) { %>
                                 <% if(typeof(data[selected][key][k][k1]) == 'object') {  %>
                                  <% for(var k2 in data[selected][key][k][k1]) { %>
                                   <%if(k2 == '$t') { %>
                                   <!-- attacks/property_applied -->
                                    <tr><td> <p>property_applied </p></td>
                                      <%if(data[selected][key][k][k1][k2] == 'true' || data[selected][key][k][k1][k2] === true) { %>
                                        <td><p style="color:green;"><%= data[selected][key][k][k1][k2] %> </p></td></tr>
                                      <%} else if(data[selected][key][k][k1][k2] == 'false' || data[selected][key][k][k1][k2] == false || data[selected][key][k][k1][k2] == '-1') { %>
                                        <td><p style="color:red;"><%= data[selected][key][k][k1][k2] %> </p></td></tr>
                                      <%} else { %>
                                        <td><p><%= data[selected][key][k][k1][k2] %> </p></td></tr>
                                      <%} %>

                                   <%} else { %>
                                   <!-- attack duration & percent_chance -->
                                    <tr><td> <p><%= k2 %>: </p></td>
                                      <%if(data[selected][key][k][k1][k2] == 'true' || data[selected][key][k][k1][k2] === true) { %>
                                        <td><p style="color:green;"><%= data[selected][key][k][k1][k2] %> </p></td></tr>
                                      <% } else if(data[selected][key][k][k1][k2] == 'false' || data[selected][key][k][k1][k2] == false || data[selected][key][k][k1][k2] == '-1') { %>
                                        <td><p style="color:red;"><%= data[selected][key][k][k1][k2] %> </p></td></tr>
                                      <%} else { %>
                                        <td><p><%= data[selected][key][k][k1][k2] %> </p></td></tr>
                                      <%} %>

                                   <% } %>
                                  <% } %>
                                 <% } else { %>
                                 <!-- attack id & damage -->
                                 <!-- itenms -> item_set  -->
                                  <%if(k1 == '$t' && key == 'items') { %>
                                   <tr><td> <p>item_set</p></td>
                                    <%if(data[selected][key][k][k1] == 'true' || data[selected][key][k][k1] === true) { %>
                                      <td><p style="color:green;"><%= data[selected][key][k][k1] %> </p></td></tr>
                                    <%} else if(data[selected][key][k][k1] == 'false' || data[selected][key][k][k1] == false || data[selected][key][k][k1] == '-1') { %>
                                      <td><p style="color:red;"><%= data[selected][key][k][k1] %> </p></td></tr>
                                    <%} else { %>
                                      <td><p><%= data[selected][key][k][k1] %> </p></td></tr>
                                    <%} %>

                                  <% } else if(k1 == '$t' && key == 'spells') { %>
                                   <tr><td> <p>spell </p></td>
                                    <%if(data[selected][key][k][k1] == 'true' || data[selected][key][k][k1] === true) { %>
                                      <td><p style="color:green;"><%= data[selected][key][k][k1] %> </p></td></tr>
                                    <% } else if(data[selected][key][k][k1] == 'false' || data[selected][key][k][k1] == false || data[selected][key][k][k1] == '-1') { %>
                                      <td><p style="color:red"><%= data[selected][key][k][k1] %> </p></td></tr>
                                    <%} else { %>
                                      <td><p><%= data[selected][key][k][k1] %> </p></td></tr>
                                    <%} %>

                                  <% } else { %>
                                   <tr><td> <p><%= k1 %> </p></td>
                                    <%if(data[selected][key][k][k1] == 'true' || data[selected][key][k][k1] === true) { %>
                                      <td><p style="color:green;"><%= data[selected][key][k][k1] %> </p></td></tr>
                                    <%} else if(data[selected][key][k][k1] == 'false' || data[selected][key][k][k1] == false || data[selected][key][k][k1] == '-1') { %>
                                      <td><p style="color:red"><%= data[selected][key][k][k1] %> </p></td></tr>
                                    <%} else { %>
                                      <td><p><%= data[selected][key][k][k1] %> </p></td></tr>
                                    <%} %>

                                  <% } %>
                                 <% } %>
                               <% } %>
                              <% } else { %>

                               <tr><td> <p><%= k %> </p></td>
                                <%if(data[selected][key][k] == 'true' || data[selected][key][k] === true) { %>
                                  <td><p style="color:green;"><%= data[selected][key][k] %> </p></td></tr>
                                <%} else if(data[selected][key][k] == 'false' || data[selected][key][k] == false || data[selected][key][k] == '-1') { %>
                                  <td><p style="color:red"><%= data[selected][key][k] %> </p></td></tr>
                                <%} else { %>
                                  <td><p><%= data[selected][key][k] %> </p></td></tr>
                                <%} %>

                              <% } %>
                             <% }%>
                            <% } %>

                          <% } %>
                        <!-- if the key is a string and the data at that location is an string -->
                        <% } else if((typeof(key) == 'string') && (typeof(data[selected][key]) == 'string')) { %>
                          <!-- used for id, which is removed from the object since its singular -->
                          <!-- create a row with the key as the row header text and its string as the row value text -->
                          <tr><td> <p><%= key %> </p></td>
                            <!-- setup formatting for boolean objects to make reading easier -->
                            <%if(data[selected][key] == 'true' || data[selected][key] === true) { %>
                              <td><p style="color:green;"><%= data[selected][key] %> </p></td></tr>
                            <%} else if(data[selected][key] == 'false' || data[selected][key] == false || data[selected][key] == '-1') { %>
                              <td><p style="color:red"><%= data[selected][key] %> </p></td></tr>
                            <%} else { %>
                              <td><p><%= data[selected][key] %> </p></td></tr>
                            <%} %>
                        <% } %>
                    
                    </table>
                  </div>  <!-- panel-body -->
                   <% } %>
                </div>    <!--   panel panel-info -->
            </tr>
          </table>
      </div>  <!-- col-lg-8 -->
    </div> <!-- row -->
</div> <!-- container -->
